/************common***************/
.accounts-form-wrapper input{
    width: 100%;
	box-sizing: border-box;
	border: 1px solid #dadada;
	margin-bottom: 10px;
	font-size: 13px;
	color: #8e8e8e;
	height: 45px;
	padding-left: 10px;
	border-radius: 3px;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/***********signup***************/
.signup-form{
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid green;
    padding: 0 30px;
}

/***********signin**************/
.signin-form{
    width: 300px;
    margin: 30px auto 0 auto;
    border-radius: 20px;
    border: 2px solid green;
    padding: 50px;
}
.invalid-login-msg{
    text-align: center;
    font-size: 0.8em;
    color: red;
}