/*****************IndexPage*******************/
.classroom-search-box{
    border: 1px solid black;
    width: 900px;
    height: 80px;
    margin: 20px auto;
    text-align: center;
}

.cau-map-view{
    border: 1px solid black;
    width: 900px;
    height: 500px;
    margin: 0 auto 0 auto;
}

/****************BuildingPage******************/

/***************ClassRoomPage******************/
.reservation-calendar{
    border: 1px solid red;
    width: 500px;
    margin: 10px auto;
}