/**********ReservationPage************/
.reservation-contents{
    width: 100%;
}

.reservation-contents .present-reservation-list{
    position: relative;
    width: 50%;
    float: left;
}

.reservation-contents .reservation-form-wrapper{
    position: relative;
    width: 50%;
    float: right;
}