{% extends 'base.html' %}
{% block title %}예약 페이지 |{% endblock %}
{% block content%}
{% if not user.is_authenticated %}
    <script>
        alert('로그인이 필요합니다!');
        window.location.href = '{% url 'signin' %}';
    </script>
{% endif %}
<div class="common-pg-contents">
    <p class="common-subheading">예약 페이지</p>

    <div class="reservation-contents">
        <div class="present-reservation-list">
        {% for reservation in reservations %}
            {{reservation}} ~ {{reservation.end_time}}까지<br>
        {% endfor %}
        </div>

        <div class="reservation-form-wrapper">
            <form method="POST" action="{% url 'reservation' classroom.building_no.building_no classroom.room_no %}">
                {% csrf_token %}
                <p> - 예약 날짜 : <input type="text" name="date"></p>
                <p> - 예약 시간 :
                    <select>
                        <option selected>--</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                    </select>
                    :
                    <select>
                        <option selected>--</option>
                        <option>00</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                    </select> ~
                    <select>
                        <option selected>--</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                    </select>
                    :
                    <select>
                        <option selected>--</option>
                        <option>00</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                    </select>
                </p>
                <p> - 예약자 : {{user.profile.user_name}}</p>
                <p> - 인원 : <input type="number"></p>
                    - 이용목적
                <p><textarea cols="50" rows="10"></textarea></p>
                <!-- <p>첨부파일 : </p> -->
                <p><input type="submit" value="제출"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}