{% extends 'base.html' %}
{% block title %}로그인 | {% endblock %}
{% block content %}
<div class="common-pg-contents">
    <div class="accounts-form-wrapper">
		<div class="common-subheading">로그인</div>
		<form action="{% url 'signin' %}" method="post" class="signin-form">
			{% csrf_token %}
			{% for field in login_form %}
				<div class="form-group">
					{{ field }}
				</div>
			{% endfor %}

			{% if login_form.non_field_errors %}
				{% for error in login_form.non_field_errors %}
				<p class="invalid-login-msg"><b>{{ error }}</b></p>
				{% endfor %}
			{% endif %}
			<button class="btn btn-primary btn-block">로그인</button>
		</form>

	</div>
</div>
{% endblock %}