{% extends 'base.html' %}
{% block title %}회원가입 | {% endblock %}
{% block content %}
<div class="common-pg-contents">
    <div class="accounts-form-wrapper">
        <div class="common-subheading">회원가입</div>
        <form method="POST" action="{% url 'signup'%}" class="signup-form">
            {% csrf_token %}
            <p>{{user_form.username}}</p>
            <p>{{user_form.password1}}</p>
            <p>{{user_form.password2}}</p>
            <p><input type="text" name = "user_name" placeholder="이름을 입력해 주세요."></p>
            <p><input type="number" name = "user_code" placeholder="학번을 입력해 주세요."></p>
            <p><input type="text" placeholder = "전화번호를 입력해 주세요 . 예)010-1234-5678" name = "phone_number"></p>
            <p><input type="date" name = "birth" placeholder="생일"></p>
            <p><input type="text" name = "dept_name" placeholder="학과를 입력 해 주세요"></p>
            {% if user_form.non_field_errors %}
                {% for error in user_form.non_field_errors %}
                <p class="invalid-login-msg"><b>{{ error }}</b></p>
                {% endfor %}
            {% endif %}
            <input type="submit" value="제출">
        </form>
    </div>
</div>
{% endblock %}