{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<script src ="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-material-datetimepicker.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>
	<script src="{% static 'js/bootstrap-material-datetimepicker.js' %}"></script>
	
	<title>{% block title %}{% endblock%} CAU Lend</title>
	</head>
	<body>
		{% block navigation %} {% include 'navigation.html' %} {% endblock %}
		
		{% block content %} {% endblock %}
		
		{% block footer %} {% include 'footer.html' %} {% endblock %}
	</body>
</html>
