{% block footer %}
<div class="container">
	<footer id="footer" class="pt-md-5 border-top">
		<div class="row">
			<div class="col-lg-2">
				<a href="{% url 'index' %}" class="navbar-brand abs" style="position:static; text-align: left">CAU CLASS</a>
			</div>
			<div class="col-lg-10">
				<p>Seoul Dongjak-gu Heukseok-ro 84 Chung-ang Univ.</p>
				<p>Developers : Minji Kim / Jinhyeong Dan / Jaehoon Seo / Changwoo Son / Jeongwon Lee / Hanyong Lee</p>
				<p>© 2019 CAU CLASS. All rights reserved.</p>
			</div>
		</div>
	</footer>
</div>
{% endblock %}
