{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content%}
<div class = "container-fluid">
	<br><br>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6" style="text-align: center;"><h1>강의실 검색</h1>
			<hr>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			
			<form method="POST" action="{% url 'search' %}" class="row" style="text-align: center; margin-left: 35px;">
				{% csrf_token %}
				<div class="col-md-3.5">
					<label for="month">날짜</label>
					<input type="date" name="date" class="form-control" id="month" required>
				</div>
				
				<div class="col-md-2">
					<label for="start_time">시작 시간</label>
					<select class="form-control" id="start_time" name="start_time" required>
						<option disabled selected value>--</option>
						<option value="18">18:00</option>
						<option value="19">19:00</option>
						<option value="20">20:00</option>
						<option value="21">21:00</option>
						<option value="22">22:00</option>
						<option value="23">23:00</option>
					</select>
					</div>
					<div class="col-md-2">
					<label for="end_time">종료 시간</label>
					<select class="form-control" id="end_time" name="end_time" required>
						<option disabled selected value>--</option>

					</select>
					<script>
						$('#start_time')
						.change(function () {
							var stime = Number($('#start_time option:selected').val())
							$('#end_time').find('option').remove().end().append('<option disabled selected value>--</option>')
							for (var i = stime + 1; i < 24; i++) {
							$('#end_time').append('<option value="' + i + '">' + i + ':00</option>')
							}
							$('#end_time').append('<option value="0">24:00</option>')
						});
					</script>
				</div>

				<div class="col-md-2 ">
					<label for="building">건물</label>
					<select class="form-control" id="building" name="building">
						{% for building in buildings %}
							<option value="{{building.building_no}}">
								{{building.building_no}}
							</option>
						{% endfor %}
					<select>
				</div>
				
				<div class="col-md-2 ">
					<button type="submit" class="btn btn-secondary" style="margin-top:30px;">
						검색
					</button>
				</div>
			</form>
			
		</div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6"><br><hr></div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<img style="height: auto; width: 100%; display: block;" src="{% static 'image/map.jpg' %}">
	</div>
	<div class="col-md-3"></div>
</div>

<div class="cau-map-view row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
		<div class="bs-component text-center">
				<div class="list-group" id="list-group">
					<a href="#list-group" class="list-group-item list-group-item-action active">건물 목록</a>
					{% for building in buildings %}
							<a href="{% url 'building' building.building_no 1 %}" class="list-group-item list-group-item-action">
								{{building.building_no}}관 : {{building.building_name}}
							</a>
					{% endfor %}
					<br>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
</div>
		

{% endblock %}
