{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content%}
    <div class="classroom-search-box">
        빈 강의실 검색<br>
        <form>
            <input type="date">
            <input type="number">시 ~ <input type="number">시
            <input type="submit" value="검색">
        </form>
    </div>

    <div class="cau-map-view">
        <a href="{% url 'building' 310%}">310관</a><br>
        {% for building in buildings %}
            {{building.building_no}}관 : <a href="{% url 'building' building.building_no %}">{{building.building_name}}</a><br>
        {% endfor %}
    </div>
{% endblock %}